<!DOCTYPE html>
<html>
<head>
  <title>BandProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">Home</a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li><a href="/events">Events</a>  </li>
      <li><a href="/bands">Bands</a> </li>
      <!-- <li class="has-dropdown">
        <a href="#">Create a New...</a>
        <ul class="dropdown">
          <li><a href="/bands/new">Band</a></li>
          <li><a href="/venues/new">Venue</a></li>
        </ul>
      </li> -->
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li> <a href="/venues/new">New Venue</a> </li>
      <li> <a href="/bands/new">New Band</a> </li>
      <li class="has-form">
        <div class="row collapse">
          <div class="large-8 small-9 columns">
            <input type="date" name="date">
          </div>
          <div class="large-4 small-3 columns">
            <a href="#" class="alert button expand">Search</a>
          </div>
        </div>
      </li>
    </ul>
  </section>
</nav>

<%= yield %>

</body>
</html>
